!!! 5
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    title lawhub
    link(rel='stylesheet', href='/css/lawhub.css', type='text/css')
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25732310-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body
    #container
      header#header
      div#main(role='main')!=body

    form#history-form.x-hide-display
      input#x-history-field(type="hidden")
      iframe#x-history-frame

    script(src='/js/lib/ext-all.js')
    script(src='/js/lib/underscore.min.js')
    script(src='/js/lawhub.min.js')
