!!! 5
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    title lawhub
    link(rel='stylesheet', href='/resources/css/ext-all-gray.css', type='text/css')
    link(rel='stylesheet', href='/resources/css/lawhub.css', type='text/css')
  body
    #container
      header#header
      div#main(role='main')!=body

    script(src='/js/lib/ext-all-debug-w-comments.js')
    script(src='/js/lib/underscore.min.js')
    script(src='/js/app.js')
